.container-carrusel, .container-ingresaTelefono{
  margin-top: 25%;
  margin-bottom: 25%;
}

.container-usar-yape{
  margin-top: 45%;
  margin-bottom: 25%;
}

.body-mostrar-saldo{
  background-color: #38052a;
}

.gris-dark{
  color: #212121;
}

.blanco{
  color: #FFFFFF;
}

.gris{
  color: #8f8f8f;
}

.boton-amarillo{
  background-color: #fbd43b;
  color: white;
  padding: 5%;
  padding-bottom: 3%;
  width: 100%;
  margin-top: 10%;
}

.boton-gris{
  background-color: #8f8f8f;
  color: white;
  margin-top: 10%;
}

.boton-amarillo-pequeño{
  background-color: #fbd43b;
  color: white;
  margin-top: 10%;
}

.input-ingresaTelefono{
  padding-top: 20%;
}

.color-verde{
  color: #00c3a3;
}

.body-amarillo{
  background-color: #fbd43b;
}
/*
#contenedorCarrusel{
  padding-top: 10%;
  width: 1000px;
  height: 1000px;
  border-color: black;

}

.img-carrusel1{
  padding-top: 40%;
  width: 40%;
  height: 40%;
  border-color: black;
}


.carousel-item--first {
	background-image: url("../img/icons/icon-people.png");
}
*/
